.<!document html>
<html>
<head> 
	<title>Bucketlist: {{adventurename}} Selected</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet"/>
	<link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet"/>
	<link href="stylesheets/memories.css" rel="stylesheet"/>
	
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
	
	<script src="javascripts/jquery-1.11.0.js"></script>
	<script src="javascripts/bucketlist.js"></script>
	
</head>

<body>
	<div class = "jumbotron app-name page-header">
		<div class = "container1" >
			<h1 class="text-center"> Bucket List </h1>
		</div>
	</div>
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse  container1">
				<div class="nav navbar-nav navigation">
					<li class  = "col-xs-3"> <a href ="bucketlist" > Back </a> </li>
					<li class  = "col-xs-12 text-center" >
					</li>
					<li class  = "col-xs-3 .col-md-offset-3"\ >
						
					</li>
				</div>
				
				
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="col-xs-12 col-md-12 " style="padding-bottom: 50px">

	<!-- WHERE THE PICTURES START -->
		<div class = "picturebody container " style = "margin-top: 10px;">
			<div class = "col-xs-12 col-md-12" >
				<div class = "thumbnail img-thumbnail  module mid" style="background: 
    				linear-gradient(
      					rgba(0, 0, 0, 0.3),
      					rgba(0, 0, 0, 0.3)),
     				url({{adventurepics}});
     				background-size: cover">
					<div class = "caption text-center">
						<h4> {{adventurename}} </h4>
					</div>
				</div>
			</div>
			
	</div>

	<hr size="20">

	<div class = "col-xs-12 col-md-12"> 
		<div class = "col-xs-5 col-md-5" >
			<h2 class="text-center" style="font-family: 	'Shadows Into Light', cursive;"> Category: </h2> 
  		</div>
 	 	<div class = "col-xs-1 col-md-1"></div>
  		<div class = "col-xs-6 col-md-6" >
			<h3 style="font-size: 20px"> {{category}} </h3>
  		</div>
  </div>

  	<div class = "col-xs-12 col-md-12"> 
		<div class = "col-xs-5 col-md-5" >
			<h2 class="text-center" style="font-family: 	'Shadows Into Light', cursive;"> Locations: </h2> 
  		</div>
 	 	<div class = "col-xs-1 col-md-1"></div>
  		<div class = "col-xs-6 col-md-6" >
			<h3 style="font-size: 20px"> {{locationideas}} </h3>
  		</div>
  </div>
  <!-- TRYING TO REMOVE EVENT
  <form id="removeEventForm" role="form" method="get" action="/removeEvent">
	     		<div class="col-xs-12 col-md-12 text-center">
	     			<div class="form-group">
						<input type="hidden" name="adventurename" value="{{event}}">
	     			</div>

					<input type="submit" id="submitBtn" class="btn btn-default" value="Delete Goal" onclick="location.href='/bucketlist'"></input>
				</div>
	</form> -->
	<br> <br> <br>

  </div>
	<!-- 	FOOTER 		-->
	<nav class = "footer nav navbar-default" >
		<div class = "container-fluid container2">
			<li> <a href ="home" class = "col-xs-4"> Home <span class = "sr-only"> </span></a> </li>
			<li> <a href = "memories" class = "col-xs-4"> Memories <span class = "sr-only"> </span> </a> </li>
			<li> <a href = "bucketlist" class = "col-xs-4"> Bucketlist <span class = "sr-only"> </span> </a> </li>
		</div>
	</nav>

</body>
</html>
