.<!document html>
<html>
<head> 
	<!-- Google Analytics Content Experiment code -->
	<script>function utmx_section(){}function utmx(){}(function(){var
	k='134594089-5',d=document,l=d.location,c=d.cookie;
	if(l.search.indexOf('utm_expid='+k)>0)return;
	function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
	indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
	length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
	'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
	'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
	'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
	valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
	'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
	</script><script>utmx('url','A/B');</script>
	<!-- End of Google Analytics Content Experiment code -->

	
	<title>Memories {{tripname}} Selected</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet"/>
	<link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet"/>
	<link href="stylesheets/memories.css" rel="stylesheet"/>
	
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	
</head>

<body>
	<div class = "jumbotron app-name page-header">
			<h1> Memories  </h1>
	</div>
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse  container1">
				<div class="nav navbar-nav navigation">
					<li class  = "col-xs-2 col-md-offset-2"\>
						<ul class = "nav navbar-nav">
							<li> <a href ="memories" onclick="ga('send', 'event', 'bbuttons', 'click', '0: memoriesExpanded->back');"><input type="image" class="nav-top-img" src="http://karlstratos.com/images/back.png"> </input></a> </li>
						</ul>
					</li>
					<li class="col-xs-1 col-md-offset-1"\>
					<li class  = "col-xs-6 text-center" >
					</li>
					<li class  = "col-xs-3 .col-md-offset-3"\ >
						
					</li>
				</div>
				
				
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="col-xs-12 col-md-12" style="padding-bottom: 50px">

	<!-- WHERE THE PICTURES START -->
	<div class = "picturebody container pagebottom">
		<div class = "col-xs-11 col-md-11"> 
				<div class = "thumbnail img-thumbnail  module mid" style="background: 
    				linear-gradient(
      					rgba(0, 0, 0, 0.3),
      					rgba(0, 0, 0, 0.3)),
     				url({{trippics}});
     				background-size: cover">
					<div class = "caption text-center">
						<h4> {{tripname}} </h4>
					</div>
				</div>
			
		</div>
		<div class = "col-xs-12 col-md-12"> 
			<div class = "col-xs-3 col-md-3"></div>
			<div class = "col-xs-5 col-md-5"> 
				<h1 class"text-center"> {{tripdate}} </h1>
			</div>
			<div class = "col-xs-4 col-md-4"></div>
		</div>
	</div>
	<hr size="5">
  	<div class = "col-xs-12 col-md-12"> 
		<div class = "col-xs-5 col-md-5" >
			<h2 class="text-center" style="font-family: 	'Shadows Into Light', cursive;"> Category: </h2> 
  		</div>
 	 	<div class = "col-xs-1 col-md-1"></div>
  		<div class = "col-xs-6 col-md-6" >
			<h3 style="font-size: 20px"> {{category}} </h3>
  		</div>
  </div>

  <div class = "col-xs-12 col-md-12"> 
		<div class = "col-xs-5 col-md-5" >
			<h2 class="text-center" style="font-family: 	'Shadows Into Light', cursive;"> Location: </h2> 
  		</div>
 	 	<div class = "col-xs-1 col-md-1"></div>
  		<div class = "col-xs-6 col-md-6" >
			<h3 style="font-size: 20px"> {{triploc}} </h3>
  		</div>
  </div>

   <div class = "col-xs-12 col-md-12"> 
		<div class = "col-xs-5 col-md-5" >
			<h2 class="text-center" style="font-family: 	'Shadows Into Light', cursive;"> Tagged Friends: </h2> 
  		</div>
 	 	<div class = "col-xs-1 col-md-1"></div>
  		<div class = "col-xs-6 col-md-6" >
			<h3 style="font-size: 20px"> {{tripfriends}} </h3>
  		</div>
  </div>

  <div class = "col-xs-12 col-md-12"> 
		<div class = "col-xs-5 col-md-5" >
			<h2 class="text-center" style="font-family: 	'Shadows Into Light', cursive;"> Notes: </h2> 
  		</div>
 	 	<div class = "col-xs-1 col-md-1"></div>
  		<div class = "col-xs-6 col-md-6" >
			<h5 style="font-size: 15px"> {{mynotes}} </h5>
  		</div>
  		<br><br><br><br><br><br><br><br><br><br>
  </div>

  </div>




	<!-- 	FOOTER 		-->
	<nav id="footer" class = "footer nav navbar-default" >
		<div class = "container-fluid container2 row-fluid">
			<div class="col-xs-1"></div>
			<li class="footer-border footer-seperation"> <a href ="home" onclick="ga('send', 'event', 'fbuttons', 'click', '0: memories->home');" class = "col-xs-4 offset1"> <input type="image" class="footer-img" src="http://www.nuyken-transport.de/images/home-13.png"> Home <span class = "sr-only"> </span></input></a> </li>

			<li class="footer-border footer-seperation"> <a href = "memories" onclick="ga('send', 'event', 'fbuttons', 'click', '0: memories->memory');" class = "col-xs-4 te"> <input type="image" class="footer-img" style="padding-top:3px;" src="http://www.berkelbike.com/wp-content/uploads/2014/08/50xNxman.png.pagespeed.ic.R6lWNMBbFB.png">Memories <span class = "sr-only"> </span> </input></a> </li>

			<li class="footer-seperation"> <a href = "bucketlist" onclick="ga('send', 'event', 'fbuttons', 'click', '0: memories->bucket');" class = "col-xs-4"><input type="image" class="footer-img" src="http://www.geldplus.net/wp-content/uploads/2015/04/fazit.png"> Bucketlist <span class = "sr-only"> </span></input></a> </li>
		</div>
	</nav>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88015729-1', 'auto');
  ga('send', 'pageview');


</script>

</body>
</html>
